docs/schema/grobid.training.references.rng

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="https://relaxng.org/relaxng.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?>

<!--
To validate TEI documents against this schema, add this processing instruction
to the beginning of your TEI document (after the XML declaration):
<?xml-model href="https://pdf-tei-editor-dev.panya.de/api/v1/schema/rng/grobid.training.references" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?>
-->
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
  ns="http://www.tei-c.org/ns/1.0"
>
  <start>
    <ref name="TEI"/>
  </start>
  <define name="TEI">
    <element name="TEI">
      <zeroOrMore>
        <choice>
          <ref name="teiHeader"/>
          <ref name="text"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>

  <define name="teiHeader">
    <element name="teiHeader">
      <zeroOrMore>
        <choice>
          <ref name="encodingDesc"/>
          <ref name="fileDesc"/>
          <ref name="revisionDesc"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>

  <define name="fileDesc">
    <element name="fileDesc">
      <zeroOrMore>
        <choice>
          <ref name="editionStmt"/>
          <ref name="publicationStmt"/>
          <ref name="sourceDesc"/>
          <ref name="titleStmt"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>

  <define name="titleStmt">
    <element name="titleStmt">
      <zeroOrMore>
        <choice>
          <ref name="author"/>
          <ref name="title"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>

  <define name="title">
    <element name="title">
      <optional>
        <attribute name="level"/>
      </optional>
      <text/>
    </element>
  </define>

  <define name="author">
    <element name="author">
      <interleave>
        <text/>
        <zeroOrMore>
          <ref name="persName"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>

  <define name="persName">
    <element name="persName">
      <zeroOrMore>
        <choice>
          <ref name="forename"/>
          <ref name="surname"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>

  <define name="forename">
    <element name="forename">
      <text/>
    </element>
  </define>

  <define name="surname">
    <element name="surname">
      <text/>
    </element>
  </define>

  <define name="editionStmt">
    <element name="editionStmt">
      <zeroOrMore>
        <ref name="edition"/>
      </zeroOrMore>
    </element>
  </define>

  <define name="edition">
    <element name="edition">
      <zeroOrMore>
        <choice>
          <ref name="date"/>
          <ref name="idno"/>
          <ref name="title"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>

  <define name="date">
    <element name="date">
      <optional>
        <attribute name="type"/>
      </optional>
      <optional>
        <attribute name="when"/>
      </optional>
      <text/>
    </element>
  </define>

  <define name="idno">
    <element name="idno">
      <optional>
        <attribute name="type"/>
      </optional>
      <text/>
    </element>
  </define>

  <define name="publicationStmt">
    <element name="publicationStmt">
      <zeroOrMore>
        <choice>
          <ref name="availability"/>
          <ref name="date"/>
          <ref name="idno"/>
          <ref name="publisher"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>

  <define name="publisher">
    <element name="publisher">
      <text/>
    </element>
  </define>

  <define name="availability">
    <element name="availability">
      <zeroOrMore>
        <ref name="licence"/>
      </zeroOrMore>
    </element>
  </define>

  <define name="licence">
    <element name="licence">
      <optional>
        <attribute name="target"/>
      </optional>
      <empty/>
    </element>
  </define>

  <define name="sourceDesc">
    <element name="sourceDesc">
      <zeroOrMore>
        <ref name="bibl"/>
      </zeroOrMore>
    </element>
  </define>

  <define name="bibl">
    <element name="bibl">
      <interleave>
        <text/>
        <zeroOrMore>
          <ref name="author"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="biblScope"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="date"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="editor"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="idno"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="note"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="ptr"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="pubPlace"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="publisher"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="title"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>

  <define name="encodingDesc">
    <element name="encodingDesc">
      <zeroOrMore>
        <ref name="appInfo"/>
      </zeroOrMore>
    </element>
  </define>

  <define name="appInfo">
    <element name="appInfo">
      <zeroOrMore>
        <ref name="application"/>
      </zeroOrMore>
    </element>
  </define>

  <define name="application">
    <element name="application">
      <optional>
        <attribute name="ident"/>
      </optional>
      <optional>
        <attribute name="type"/>
      </optional>
      <optional>
        <attribute name="version"/>
      </optional>
      <optional>
        <attribute name="when"/>
      </optional>
      <zeroOrMore>
        <choice>
          <ref name="desc"/>
          <ref name="label"/>
          <ref name="ref"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>

  <define name="ref">
    <element name="ref">
      <optional>
        <attribute name="target"/>
      </optional>
      <empty/>
    </element>
  </define>

  <define name="desc">
    <element name="desc">
      <text/>
    </element>
  </define>

  <define name="label">
    <element name="label">
      <optional>
        <attribute name="type"/>
      </optional>
      <text/>
    </element>
  </define>

  <define name="revisionDesc">
    <element name="revisionDesc">
      <zeroOrMore>
        <ref name="change"/>
      </zeroOrMore>
    </element>
  </define>

  <define name="change">
    <element name="change">
      <optional>
        <attribute name="status"/>
      </optional>
      <optional>
        <attribute name="when"/>
      </optional>
      <optional>
        <attribute name="who"/>
      </optional>      
      <zeroOrMore>
        <ref name="desc"/>
      </zeroOrMore>
    </element>
  </define>

  <define name="text">
    <element name="text">
      <optional>
        <attribute name="lang" ns="http://www.w3.org/XML/1998/namespace"/>
      </optional>
      <interleave>
        <text/>
        <zeroOrMore>
          <ref name="body"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="front"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="back"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="listBibl"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>

  <define name="front">
    <element name="front">
      <empty/>
    </element>
  </define>

  <define name="body">
    <element name="body">
      <empty/>
    </element>
  </define>

  <define name="back">
    <element name="back">
      <zeroOrMore>
        <ref name="listBibl"/>
      </zeroOrMore>
    </element>
  </define>

  <define name="listBibl">
    <element name="listBibl">
      <zeroOrMore>
        <ref name="bibl"/>
      </zeroOrMore>
    </element>
  </define>

  <define name="editor">
    <element name="editor">
      <text/>
    </element>
  </define>

  <define name="biblScope">
    <element name="biblScope">
      <optional>
        <attribute name="unit"/>
      </optional>
      <text/>
    </element>
  </define>

  <define name="pubPlace">
    <element name="pubPlace">
      <text/>
    </element>
  </define>

  <define name="note">
    <element name="note">
      <optional>
        <attribute name="type"/>
      </optional>
      <text/>
    </element>
  </define>

  <define name="ptr">
    <element name="ptr">
      <optional>
        <attribute name="type"/>
      </optional>
      <text/>
    </element>
  </define>

</grammar>